*.log
*.pem
*.bak
*.key
*.pid
*.rev
*~
.atom/packages*
.aws/aws.properties
.aws/credentials*
.gnupg/.#*
.gnupg/.gpg-v21-migrated
.gnupg/crls.d/DIR.txt
.gnupg/random_seed
.gnupg/reader_0.status
.gnupg/secring.gpg
.gnupg/tofu.db
.gnupg/trustdb.gpg
.wireshark/recent*
.wireshark/.fccache-new
.wireshark/language
