*.log
*.pem
*.bak
*.key
*.pid
*~
.atom/packages*
.aws/aws.properties
.aws/credentials*
.gnupg/.#*
.gnupg/randomseed
.gnupg/reader0.status
.gnupg/secring.gpg
.gnupg/tofudb
.gnupg/trustdb.gpg
.wireshark/recent*
